<mat-card>
    <h1 mat-dialog-title>{{userTitle}}</h1>

    <div mat-dialog-content class="content">
        <form style="width: 100%" [formGroup]="userForms">
            <mat-form-field class="full-width-form">
                <mat-label>Name</mat-label>
                <input type="name" matInput [formControl]="userForms.controls.name" [(ngModel)]="modifiedUser.name" placeholder="">
                <mat-error *ngIf="userForms.controls.name.hasError('required')">
                    {{errorMsg.FORMAT_ERROR.REQUIRED('Name')}}
                </mat-error>              
            </mat-form-field>
            <br>
            <mat-form-field class="full-width-form">
                <mat-label>Email</mat-label>
                <input type="email" matInput [attr.disabled]="true" [formControl]="userForms.controls.email" [(ngModel)]="modifiedUser.email" placeholder="">
                <mat-error *ngIf="userForms.controls.email.hasError('email') && !userForms.controls.email.hasError('required')">
                    {{errorMsg.FORMAT_ERROR.DATA_FORMAT('Email', 'xxxxx@xx.xx')}}
                </mat-error>
                <mat-error *ngIf="userForms.controls.email.hasError('required')">
                    {{errorMsg.FORMAT_ERROR.REQUIRED('Email')}}
                </mat-error>
            </mat-form-field>
            <!-- Password Input -->
            <mat-form-field  class="full-width-form">
                <input matInput type="password" [formControl]="userForms.controls.password" placeholder="Password">
                <mat-error *ngIf="userForms.controls.password.hasError('required')">
                    {{errorMsg.FORMAT_ERROR.REQUIRED('Password')}}
                </mat-error>
                <mat-error *ngIf="userForms.controls.password.hasError('minlength')">
                    {{errorMsg.FORMAT_ERROR.MIN_LENGTH('Password', 8)}}
                </mat-error>
                <mat-error *ngIf="userForms.controls.password.hasError('maxlength')">
                    {{errorMsg.FORMAT_ERROR.MAX_LENGTH('Password', 100)}}
                </mat-error>
            </mat-form-field>
            <br>
            <!-- Confirm Password -->
            <mat-form-field  class="full-width-form">
                <input matInput type="password" [formControl]="userForms.controls.confirmPassword" [errorStateMatcher]="matcher" placeholder="Confirm Password">
                <mat-error *ngIf="userForms.controls.confirmPassword.hasError('required')">
                    {{errorMsg.FORMAT_ERROR.REQUIRED('Confirm Password')}}
                </mat-error>
                <mat-error *ngIf="userForms.controls.confirmPassword.hasError('minlength')">
                    {{errorMsg.FORMAT_ERROR.MIN_LENGTH('Confirm Password', 8)}}
                </mat-error>
                <mat-error *ngIf="userForms.controls.confirmPassword.hasError('maxlength')">
                    {{errorMsg.FORMAT_ERROR.MAX_LENGTH('Confirm Password', 100)}}
                </mat-error>                
                <mat-error *ngIf="userForms.hasError('notSame')">
                    {{errorMsg.FORMAT_ERROR.INVALID_PASSWORD('Confirm Password')}}
                </mat-error>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions class="demo-button-container">
        <button mat-raised-button (click)="addUser()" class="demo-button">
            {{lblUserBtn}}
        </button>
    </div>
</mat-card>