<mat-card class="image-panel">
    <mat-card-header>
        <div mat-card-avatar class="upload-header-image">
            <mat-icon class="icon">backup</mat-icon>
        </div>
        <mat-card-title>File Upload Form</mat-card-title>
    </mat-card-header>    
    <mat-card-content>
        <input #imageInput type="file" class="form-control"
            accept="image/*" placeholder="Select images"
            (change)="onChangeImage($event)">
        <div class="image-section"><img class="passport-image" [src]="url" *ngIf="url"></div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button
            color="primary"
            class="convert-button"
            [disabled]="!isGoodResolution"
            (click)="uploadImage()">
            Convert
        </button>
    </mat-card-actions>    
</mat-card>
<mat-card class="extracted-panel">
    <mat-card-header>
        <mat-card-title>Converted Text</mat-card-title>
    </mat-card-header>    
    <mat-card-content>
        <div>
            <textarea class="converted-text" type="text">{{convertedData}}</textarea>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button
            color="primary"
            class="process-button"
            [disabled]="!isGoodResolution"
            (click)="bindPassportData()">
            Go to Passport Form
        </button>
    </mat-card-actions>    
</mat-card>