.image-section {
    width: 255px;
    height: 188px;
}

.passport-image {
    padding-top: 5px;
    width: 250px;
}

.convert-button, .process-button {
    margin-bottom: 5px;
    margin-right: 10px;
}

.converted-text {
    width: 500px;
    height: 350px;
}