.user-table {
  width: 100%;
}

tr.mat-row, tr.mat-footer-row {
  height: 46px;
}

.user-button {
  margin-left: 8px;
}

.edit-button {
  margin-right: 5px;
}

.search-container {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  -box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgb(135, 135, 206);
}

.name-box, .email-box, .search-btn-box {
  width: 20%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}