<mat-card>
    <h1 mat-dialog-title>User List</h1>
    <div class="passport-button-container">
        <button mat-raised-button color="primary" (click)="addUserDialog()" class="user-button">
            New
        </button>
    </div>
    <div class="search-container">
        <div class="name-box">
            <mat-form-field class="full-width">
                <input matInput [formControl]="searchForms.controls.name" placeholder="Name">
            </mat-form-field>
        </div>
        <div class="email-box">
            <mat-form-field class="full-width">
                <input matInput [formControl]="searchForms.controls.email" placeholder="Email">
            </mat-form-field>
        </div>
        <div class="search-btn-box">
            <button mat-raised-button color="primary" (click)="searchUser()" class="search-button">
                Search
            </button>            
        </div>        
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 user-table">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID.</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
        
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index">
                <div class="action" align="end">
                    <button mat-raised-button color="default"
                        *ngIf="currentUser === element.email"
                        class="edit-button"
                        (click)="editUserDialog(element, i)">Edit</button>
                    <button mat-raised-button color="default"
                        class="delete-button"
                        (click)="deleteUser(element.id)">Delete</button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
</mat-card>