<mat-card>
    <h1 mat-dialog-title>Passport Form</h1>

    <div mat-dialog-content class="content">
        <form style="width: 100%" [formGroup]="passportForms">
            <div class="left-content">
                <mat-form-field class="passport-full-width">
                    <input matInput [formControl]="passportForms.controls.passportType" [(ngModel)]="passportParam.passport_type" placeholder="Passport Type">
                </mat-form-field>
            </div>            
            
            <div class="right-content">
                <mat-form-field class="passport-full-width">
                    <input matInput [formControl]="passportForms.controls.countryCode"  [(ngModel)]="passportParam.country_code" placeholder="Country Code">
                </mat-form-field>
            </div>

            <div class="left-content">
                <mat-form-field class="passport-full-width">
                    <input matInput [formControl]="passportForms.controls.name" [(ngModel)]="passportParam.name"  placeholder="Name">
                </mat-form-field>
            </div>

            <div class="right-content">
                <mat-form-field class="passport-full-width">
                    <input matInput [formControl]="passportForms.controls.passportNo" [(ngModel)]="passportParam.passport_no" placeholder="Passport No.">
                </mat-form-field>
            </div>

            <div class="left-content">
                <mat-form-field class="passport-full-width">
                    <input matInput [matDatepicker]="picker1" [value]="passportParam.dob" [formControl]="passportForms.controls.dob" placeholder="Choose DOB">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="right-content">
                <mat-form-field class="nationality-full-width">
                    <input matInput [formControl]="passportForms.controls.nationality" [(ngModel)]="passportParam.nationality" placeholder="Nationality">
                </mat-form-field>
                <mat-form-field class="gender-full-width">
                    <input matInput [formControl]="passportForms.controls.gender" [(ngModel)]="passportParam.gender" placeholder="Gender">
                </mat-form-field>
            </div>

            <div class="left-content">
                <mat-form-field class="passport-full-width">
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="passportParam.issue_date" [formControl]="passportForms.controls.issueDate" placeholder="Choose Issue date">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker  #picker2></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="right-content">
                <mat-form-field class="passport-full-width">
                    <input matInput [matDatepicker]="picker3" [(ngModel)]="passportParam.expiry_date" [formControl]="passportForms.controls.expiryDate" placeholder="Choose Expiry Date">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
            </div>
            
            <div class="left-content">
                <mat-form-field class="passport-full-width">
                    <input matInput [formControl]="passportForms.controls.birthPlace" [(ngModel)]="passportParam.birth_place"  placeholder="Place of Birth">
                </mat-form-field>
            </div>

            <div class="right-content">
                <mat-form-field class="passport-full-width">
                    <input matInput [formControl]="passportForms.controls.authority" [(ngModel)]="passportParam.authority" placeholder="Authority">
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="demo-button-container">
        <button mat-raised-button (click)="savePassportData()" [disabled]="!passportForms.valid"  class="demo-button">
            Save
        </button>

        <button mat-raised-button (click)="onCancelClick()"  class="cancel-button">
            Cancel
        </button>
    </div>
</mat-card>