.left-content {
    float: left;
    width: 50%;
}

.right-content {
    float: right;
    width: 50%;
}

.passport-full-width {
    width: 70%;
}

.dob-full-width {
    width: 35%;
}

.gender-full-width {
    margin-left: 10px;
    width: 35%;
}

.demo-button, .cancel-button {
    margin-right: 10px;
}