<mat-card>
    <h1 mat-dialog-title>Update User</h1>

    <div mat-dialog-content class="content">
        <form style="width: 100%">
            <mat-form-field class="full-width-form">
                <mat-label>Name</mat-label>
                <input type="name" matInput [(ngModel)]="userName" placeholder="">                
            </mat-form-field>
            <br>
            <mat-form-field class="full-width-form">
                <mat-label>Email</mat-label>
                <input type="email" matInput [(ngModel)]="userEmail" placeholder="">
            </mat-form-field>
            <!-- Password Input -->
            <!-- <mat-form-field  class="full-width-form">
                <input matInput type="password" formControlName="password" placeholder="パスワード">
            </mat-form-field> -->
        </form>
    </div>
    <div mat-dialog-actions class="demo-button-container">
        <button mat-raised-button (click)="updateUser()" class="demo-button">
            Update
        </button>
    </div>
</mat-card>